@font-face {
	font-family: DINProRegular;
	src: url(https://cdn.nebe.app/demo/fonts/DINPro-Regular.ttf) format("truetype");
}

@font-face {
	font-family: DINProBold;
	src: url(https://cdn.nebe.app/demo/fonts/DINPro-Bold.ttf) format("truetype");
}

@font-face {
	font-family: CallingCodeBold;
	src: url(https://cdn.nebe.app/demo/fonts/callingcode-bold.otf) format("opentype");
}
