/**
 * Tento soubor není potřeba upravovat
 */

/**
 * Základní tiskové styly
 */
$totalWidth: $width + $leftMarks + $rightMarks;
$totalHeight: $height + $topMarks + $bottomMarks;

@page {
	margin: 0;
	padding: 0;
	size: $totalWidth $totalHeight;
	marks: none;
	bleed: 0;
}

html {
	-webkit-print-color-adjust: exact;
}

* {
	box-sizing: border-box;
	text-rendering: geometricprecision !important;
}

body, html {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

/**
 * Hlavní oblast obsahující sloty
 */
main {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	font-family: Arial, sans-serif;
	width: $totalWidth;
	height: $totalHeight;

	html.is-development & {
		outline: 1px solid blue;
	}
}

/**
 * Netisknutelné elementy (pozadí/náhled)
 */
aside {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	img {
		width: $totalWidth;
		height: $totalHeight;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}

	img.development {
		display: none;

		html.is-development & {
			display: block;
		}
	}
}

/**
 * Dynamický slot
 */
article {
	&.is-highlighted {
		background-color: rgba(75, 168, 46, .8);
	}

	html.is-development & {
		outline: 1px solid red;
		background-color: rgba(255, 0, 0, .2);
		display: block !important;
	}
}

/**
 * Ořezová oblast
 */
.marks {
	position: absolute;
	top: $topMarks;
	left: $leftMarks;
	width: $width;
	height: $height;

	html.is-development & {
		outline: 1px solid green;
		display: block !important;
	}
}
